<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
</head>
<a href="/member/memberadd">添加</a>
<table>
    <tr>
        <th>编号</th>
        <th>图书名称</th>
        <th>图书作者</th>
        <th>操作</th>
    </tr>
    <#if memberList??>
        <#list memberList as book>
            <tr>
                <td>${book.id!}</td>
                <td>${book.userName!}</td>
                <td>${book.email!}</td>
                <td>
                    <a href="/member/preUpdate/${book.id!}">修改</a>
                    <a href="/member/delete?id=${book.id!}">删除</a>
                </td>
            </tr>
        </#list>
    </#if>
</table>
</body>
</html>