<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<table>
    <tr>
        <th>编号</th>
        <th>用户名称</th>
        <th>用户名称</th>
        <th>用户作者</th>
    </tr>
    <#if userList??>
        <#list userList as book>
            <tr>
                <td>${book.userId!}</td>
                <td>${book.userName!}</td>
                <td>${book.userPassword!}</td>
                <td>${book.userEmail!}</td>
            </tr>
        </#list>
    </#if>
</table>
</body>
</html>